<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <th>用户编号</th>
            <th>用户密码</th>
            <th>用户名</th>
            <th>日期</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        <tr th:each="user:${pageInfo.list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.regDate}"></td>
            <td th:text="${user.address.addressInfo}"></td>
            <td>
                <a th:href="@{/updateuser.html(id=${user.id})}">修改</a>
                <a onclick="return confirm('确定删除吗？')" th:href="@{/deleteuser.html(id=${user.id})}">删除</a>
            </td>
        </tr>
    </table>
    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
    <a th:href="@{/user.html}">首页</a>
    <a th:href="@{/user.html(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
    <a th:href="@{/user.html(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
    <a th:href="@{/user.html(pageNum=${pageInfo.pages})}">尾页</a>
</div>
</body>
</html>